<h1>List of Authors</h1>
<%= button_to "Sort By No. of Books", "/authors", method: :get, params: {sorted: true} %>
<br><%= form_with url: "/authors", method: :get, local: true do |form| %>
  <%= form.label(:exact_keyword, "Filter results by exact match to keyword:") %>
  <%= form.text_field(:exact_keyword) %>
  <%= form.submit("Search") %>
<% end %><br>
<%= form_with url: "/authors", method: :get, local: true do |form| %>
  <%= form.label(:partial_keyword, "Filter results by partial match to keyword:") %>
  <%= form.text_field(:partial_keyword) %>
  <%= form.submit("Partial Match Search") %>
<% end %><br>

<% @authors.each do |author| %>
    <h3><%= link_to "#{author.name}", "/authors/#{author.id}" %></h3>
  <p>
    No. books: <%= author.count_books %><br>
    Log created: <%= author.created_at %><br>
    <%= button_to "Update #{author.name}", "/authors/#{author.id}/edit", method: :get %>
    <%= button_to "Delete #{author.name}", "/authors/#{author.id}", method: :delete %>
  </p>
<% end %>
<br>
<%= button_to "New Author", "/authors/new", method: :get %>