<a href="/authors">Author Index</a>

<h1><%= @author.name %></h1>

<p>Active: <%= @author.active %></p>
<p>Year Born: <%= @author.dob_year %></p>
<p>Country: <%= @author.country %></p>
<p>Log created: <%= @author.created_at %></p>
<p>Log updated: <%= @author.updated_at %></p>