<ul>
  <li><a href="/authors">Author List</a></li>
  <li><a href="/books">Book List</a></li>
  <li><a href="/">Return Home</a></li>
</ul>

<h1><%= @author.name %></h1>

<p>Active: <%= @author.active %></p>
<p>Year Born: <%= @author.dob_year %></p>
<p>Country: <%= @author.country %></p>
<p>Log created: <%= @author.created_at %></p>
<p>Log updated: <%= @author.updated_at %></p>
<p>No. books: <%= @author.books.count %></p>
<p><a href="authors/<% @author.id %>/books">Author's Books</a></p>